.App {
  text-align: center;
}

.nav-header {
  background-color: #fff159;
  border: 0;
  position: relative;
  display: block;
  height: 55px;
}

.nav-logo {
  background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.2/mercadolibre/logo__large_plus.png);
  height: 34px;
  top: 11px;
  width: 134px;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  left: 10px;
}

.nav-input {
  top: 10px;
  left: ;
}

.nav-search-btn{
  background-image: none;
  height: 39px;
  padding-top: 2px;
  cursor: pointer;
}

.SearchInput{
  height: 34px;
  margin-top: 11px;
  width: 100%;
}

.Content{
  margin: 10px 100px 10px 100px;
  position: relative;
}

.ImgSearch{
  width: 180px;
  height: 180px !important;
  border-radius: 4px;
  margin: 16px 16px 16px 16px;
}

.ImgSearch img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.FontPrice{
  font-size: 24px;
  width: 100%;
  height: 32px;
  text-align-last: left;
}

.FontTitle{
  font-size: 18px;
}

.FontAdress{
  font-size: 12px;
}

.ButtonSearch{
  height: 100%;
}